language: erlang

env:
  global:
    - LUAROCKS_BASE=luarocks-2.2.0
  matrix:
    - LUA=lua5.1 LUA_DEV=liblua5.1-dev LUA_VER=5.1
    - LUA=lua5.2 LUA_DEV=liblua5.2-dev LUA_VER=5.2
    - LUA=luajit-2.0.3 LUA_DEV=libluajit-5.1-dev LUA_VER=5.1

branches:
  only:
    - master

before_install:
  - if [ $LUA = "luajit-2.0.3" ]; then
    sudo apt-get install luajit;
  else
    sudo apt-get install $LUA;
  fi
  - sudo apt-get install $LUA_DEV
  - $LUA -v
  - wget http://luarocks.org/releases/$LUAROCKS_BASE.tar.gz
  - tar zxvpf $LUAROCKS_BASE.tar.gz
  - cd $LUAROCKS_BASE
  - ./configure --lua-version=$LUA_VER --versioned-rocks-dir
  - sudo make build
  - sudo make install
  - cd $TRAVIS_BUILD_DIR

install:
  - sudo luarocks install tablesalt
  - sudo luarocks install luabitop
  - sudo luarocks install luafilesystem
  - sudo luarocks install luacov
  - sudo luarocks install busted
  - sudo pip install cpp-coveralls
  - sudo luarocks install luacov-coveralls

script: busted -c -v spec

after_success:
  - coveralls --dump c.report.json
  - luacov-coveralls -j c.report.json -i allDiffSum.lua -i spec/*.lua