language: erlang

env:
  - LUA="lua5.1"
  - LUA="lua5.2"
  - LUA="luajit"

branches:
  only:
    - master

install:
  - sudo apt-get install luajit
  - sudo apt-get install luarocks
  - sudo luarocks install tablesalt
  - sudo luarocks install luabitop
  - sudo luarocks install luafilesystem
  - sudo luarocks install luacov
  - sudo luarocks install busted
  - sudo pip install cpp-coveralls
  - sudo luarocks install luacov-coveralls

script: "busted -c spec"

after_success:
  - coveralls --dump c.report.json
  - luacov-coveralls -j c.report.json -i allDiffSum.lua -i spec/*.lua